/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    height: 80px;
    min-width: 100%;
    display: flex;
    background-color: #ADD8E6;
    align-items: center;
    justify-content: center;
}

.logo{
    background-color: #DAA520;
    border: 2px dashed black;
    height: 40px;
    width: 200px;
}
.link{
    background-color: #DAA520;
    border: 2px dashed black;
    height: 40px;
    width: 700px;
}

.login{
    background-color: #DAA520;
    border: 2px dashed black;
    height: 40px;
    width: 200px;
}

.blue-container{
    min-height: 500px;
    min-width: 100%;
    display: flex;
    background-color: #00008B;
    align-items: center;
    justify-content: center;
}

.lilla-box{
    background-color: #EE82EE;
    border: 2px dashed black;
    height: 400px;
    width: 800px;
}

.white-container{
    min-height: 500px;
    min-width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
}

.blue-box{
    background-color: #1E90FF;
    border: 2px dashed black;
    height: 450px;
    width: 650px;
}

.light-pink-box{
    background-color: #FFC0CB;
    border: 2px dashed black;
    height: 450px;
    width: 450px;
}

.grey-container{
    min-height: 500px;
    min-width: 100%;
    display: flex;
    background-color: #D3D3D3;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
}

.green-box{
    background-color: #228B22;
    border: 2px dashed black;
    height: 800px;
    width: 1100px;
}

.dark-grey-container{
    min-height: 500px;
    min-width: 100%;
    display: flex;
    background-color: #23272A;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.pink-box{
    background-color: #F08080;
    border: 2px dashed black;
    height: 580px;
    width: 300px;
}

.cian-box{
    background-color: #20B2AA;
    border: 2px dashed white;
    height: 580px;
    width: 200px;
}

.dg-flex-container{
    height: 120px;
    min-width: 100%;
    display: flex;
    background-color: #23272A;
    align-items: flex-end;
    justify-content: center;
    border-top: 1px solid white;
}


.acqua-container{
    background-color: #7FFFD4;
    height: 80px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.ciao{
    background-color: #FFB6C1;
    border: 2px dashed black;
    height: 30px;
    width: 80px;
}